# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Build directories
dist/
build/

# Temporary directories and files
tmp/
temp/

# IDE and editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Coverage directory (if you use a testing tool)
coverage/

# Miscellaneous sensitive files (keys, certificates, etc.)
*.pem
*.key
